# D-I config version 2.0
#include ubuntu-installer/amd64/boot-screens/menu.cfg
#default ubuntu-installer/amd64/boot-screens/vesamenu.c32
prompt 0
timeout 0
default install
label install
	menu label ^Install
	menu default
	kernel ubuntu-installer/amd64/linux
	append vga=788 initrd=ubuntu-installer/amd64/initrd.gz -- quiet 
label cli
	menu label ^Command-line install
	kernel ubuntu-installer/amd64/linux
	append tasks=standard pkgsel/language-pack-patterns= pkgsel/install-language-support=false vga=788 initrd=ubuntu-installer/amd64/initrd.gz -- quiet 
